.container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--bg-clr);
}

/*LOGIN FORM CONTAINER*/
.form {
    min-width: 24.6875rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.logo h1 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

label.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    font-size: 0.875rem;
    font-weight: 500;
}

.form-group input {
    padding: 0.625rem;
    border: 1px solid var(--acc-clr);
    border-radius: var(--input-radius);
    background-color: var(--bg-clr);
    min-height: 2.5rem;
}

.birthdate_container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.birthdate_container .birthdate_title h2 {
    font-size: 0.875rem;
    font-weight: 500;
}

.birthdate_container .birthdate_title p {
    font-size: 0.75rem;
    color: var(--acc-light);
    margin-top: .25rem;
}

.birthdate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
}

.birthdate label select {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--acc-clr);
    border-radius: var(--input-radius);
    background-color: var(--bg-clr);
}

.birthdate label select option {
    font-size: 16px;
}

.wrapper {
    position: relative;
}

.birthdate label .wrapper::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="white" d="M297.4 438.6C309.9 451.1 330.2 451.1 342.7 438.6L502.7 278.6C515.2 266.1 515.2 245.8 502.7 233.3C490.2 220.8 469.9 220.8 457.4 233.3L320 370.7L182.6 233.4C170.1 220.9 149.8 220.9 137.3 233.4C124.8 245.9 124.8 266.2 137.3 278.7L297.3 438.7z"/></svg>');
    position: absolute;
    height: 1rem;
    width: 1rem;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.submit {
    padding: .85rem;
    background-color: var(--acc-clr);
    font-weight: 500;
    border-radius: var(--input-radius);
}

.spacing {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.875rem;
}

.spacing hr {
    flex-grow: 1;
    height: 1px;
    border-color: var(--acc-clr);
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: .8rem;
    background-color: var(--acc-dark);
    font-weight: 500;
    border-radius: var(--input-radius);
}

.redirect {
    display: flex;
    justify-content: center;
    gap: .35rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.redirect a {
    color: var(--acc-clr);
    font-weight: 500;
}

/*ANIMATIONS*/
.form-group input:focus, .form-group select:focus {
    border: 1px solid var(--acc-light);
}

label, input, button, select {
    cursor: pointer;
}

.submit:hover {
    background-color: var(--acc-hover);
}

a:hover {
    color: var(--acc-hover)
}


/*VALIDATION*/
.info {
    font-size: .75rem;
    margin-top: .25rem;
    color: var(--acc-clr);
    font-weight: 400;
}


/*MOZNA ZMIENIC NAZWE*/
.passwordTitle {
    display: flex;
    justify-content: space-between;
}


/*PHONES*/
@media (max-width: 600px) {
    :root {
        font-size: clamp(14px, 4.25vw, 1.2rem);
    }

    .form {
        min-width: 15rem;
        gap: 0.5rem;
    }

    .logo {
        gap: .2rem;
    }

    .logo h1 {
        font-size: 1.1rem;
    }

    .logo svg {
        width: 2rem;
    }

    .form-group input, select, button {
        height: 2rem;
        min-height: unset;
    }

    label.form-group,
    .birthdate_container .birthdate_title h2,
    .spacing,
    .redirect
    {
        font-weight: 400;
        font-size: .85rem;
    }

    .submit {
        padding: .7rem;
        font-weight: 400;
        font-size: .95rem;
    }

    .google-btn {
        height: 2.25rem;
        padding: .6rem;
        font-weight: 400;
        font-size: .9rem;
    }
}